.popup {
    display: none;
    position: fixed;
    top: 20%; /* Ajusta la posición vertical del popup */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
    width: 90%; /* Ancho del popup */
    max-width: 500px; /* Máximo ancho del popup */
    max-height: 90%; /* Altura máxima del popup */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
  }
  
  .popup-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .popup-perfilimg {
    flex: 0 0 30%;
    max-width: 30%;
  }
  
  .popup-column {
    flex: 0 0 65%;
    max-width: 65%;
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    .popup {
      width: 95%; /* Ajusta el ancho del popup para dispositivos móviles */
      top: 10%; /* Ajusta la posición vertical en dispositivos móviles */
    }
  }